*{
    margin: 0;
    padding: 0;

}
.border :hover{
    border: 2px solid white;
}

.background{
    height: 1500px;
    width: 100%;
    background-image: url("know-more3.jpeg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}


.first{
    height: 250px;
    width: 300px;
    opacity: 1;
    margin-top: 200px;
}


.el{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: absolute;
    top: 1%;
    border: 2px solid black;

}

.para-1{
    color: white;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: 350;
    position: absolute;
    top: 30%;
    left: 5%;

}

.second{
    height: 250px;
    width: 300px;
    opacity: 1;
    margin-top: 200px;

}

.jonathan{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: absolute;
    top: 48%;
    height: 200px;
    width: 350px;
    border: 2px solid black;
}

.para-2{
    color: white;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: 350;
    position: absolute;
    top: 80%;
    left: 5%;

}

.third{
    height: 250px;
    width: 300px;
    opacity: 1;
    margin-top: 200px;

}

.mota{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: absolute;
    top: 110%;
    border: 2px solid black;

}

.para-3{

    color: white;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: 350;
    position: absolute;
    top: 140%;
    left: 5%;

}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }